:root {
    --vermelho: #E50914;
    --preta: #141414;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    /* background-color: blue; */
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-top: 15px;
    margin-left: 15px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}


/* serie principal */

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%); */
    opacity: 0.3;
    /* padding-left: 220px; */
    z-index: -1;
}

.serie-principal {
    font-size: 16px;
    /* background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/capaSilicon.jpg'); */

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.serie-principal .descricao {
    margin-top: 10px;
    margin-bottom: 90px;
}

.serie-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0,0, .50);
    border: none;
    color: white;

    padding: 15px 90px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    /* margin-bottom: 15px; */
}

.botao:hover {
    background-color: white;
    color: black;
}


.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 40px;
}


.serie-principal .container {
    width: 80%;
}

.zoom-out{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    border-radius:  15px;
    /* border: 4px; */
    transition-duration:  800ms;
    /* display: block; */
}

/* .box-series {
    border-radius: 15px;
    cursor: pointer;
} */

.zoom-out:hover {

    /* border: 4px; */
    transition-duration: 400ms;
}

.box-series{
    /* WebKit for Chrome e Safari */
    /* -webkit-transform-origin: 50%; */
    -webkit-transform: scale(1.2);
    -webkit-transition-duration: 500 ms;
    -webkit-transition-timing-function: ease-in-out;

    /* Webkit for Mozila Firefox */
    -moz-transform:scale(1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-in-out;


    /* Webkit for IE(Version 11, 10) */
    -ms-transform: scale(1.2);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-in-out;

}

.box-series:hover{
     /* WebKit for Chrome e Safari */
     /* -webkit-transform-origin: 70%; */
     -webkit-transform: scale(1);
     -webkit-transition-duration: 600 ms;
     -webkit-transition-timing-function: ease-in-out;
 
     /* Webkit for Mozila Firefox */
     -moz-transform:scale(1);
     -moz-transition-duration: 600ms;
     -moz-transition-timing-function: ease-in-out;
 
 
     /* Webkit for IE(Version 11, 10) */
     -ms-transform: scale(1);
     -ms-transition-duration: 600ms;
     -ms-transition-timing-function: ease-in-out;
 
}


.carrosel-series {
    margin-top: 5px;
}

nav a:hover {
    border-bottom: 3px solid   #ff2d00;
    /* transition-duration: 200ms; */
    transition: .2s;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 3;
    left: 300;
    top: 300;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(  175, 175, 175); */
    /* background-color: rgba(  175, 175, 175); */
    border-radius: 5px;
    opacity: 0.9;
    /* margin: 122px; */
}


/*  Modal Header */
.modal-header {
    border-radius: 5px;
    padding: 2px 16px;
    background-color:    #d00000   ;
    color: white;
}

/*  Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    border-radius: 5px;
    padding: 2px 16px;
    background-color:    #d00000   ;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    border-radius: 5px;
    background-color:  #596469 ;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Adicionando animação */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#titulo-modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.tituloCarrosel {
    padding: 0;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}